@font-face {
    font-family: "Barlow-Regular";
    src: url(Font/Barlow-Regular.woff)
    }

.fb {
    background-color:#255A9B;
    margin-right: 30px;
    font-family: inherit;
}

.in {
    background-color:#0076B6;
    font-family: inherit;
}

.create {
    background-color: #3698FB;
    margin-top: 30px;
    font-family: inherit;
    font-weight: bold;
}

h1, h2 {
    color:#7B8A92;
    margin:0;
}

h3, h4 {
    color: #96A5B1;
    margin-bottom: 50px;
}

body {
    color:#2A4A5C;
    font-family: "Barlow-Regular";
    background-color: #EFF6FF;
}

button {
    color: white;
    width: 230px;
    height: 40px;
    border: hidden;
    padding: auto;
}

pre {
   font-family: "Barlow-Regular";
   font-size: smaller; 
   background-color: white;
   color: #AFAFAF;
   width: fit-content;
   padding: 10px;  
}

input[type=email] {
    margin-right: 35px;
    color:#AFAFAF;
    height: 40px;
    width: 220px;
    border-color:#EEEEEE;
    margin-bottom: 40px ;
}

input[type=tel] {
    color:#AFAFAF;
    height: 40px;
    width: 220px;
    border-color:#EEEEEE;
}

label[for=check] {
    color: #AFAFAF;
    font-size: small;
}

.radio {
    font-weight: bold;
}

span {
    color: #AFAFAF;
    font-size: x-small;
}

.shadow-box {
    width: 230px;
    height: 70px;
    background-color: #ffffff;
    box-shadow: 4px 4px 10px  rgba(0, 0, 0, 0.1);
    padding:0;
    margin-bottom: 40px;
}

.container {
    display:flex;
    justify-content: center;
    margin: 75px;
    color:#2A4A5C;  
}

.text-container {
    display:block;
    background-color:#FFFFFF;
    padding:90px;
    min-width:500px;
    height: 620px;
}

.image-container{
    position: relative;
    display: inline-block;
}

.main-image {
    display: block;
    min-width: 500px;
    height:800px;
}

.logo-overlay {
    position:absolute;
    top: 50px; 
    left: 50px; 
    width: 150px; 
}

.line{
    display: flex;
    text-align: center;
    align-items: center;
    font-weight: bold;
    font-size: small;
}

.line::before,
.line::after{
    content:"";
    flex: 1;
    height: 2px;
    background-color: #EEEEEE;
    margin:40px;
}


